<br />
<div class="booyah-box col-10 offset-1 text-center">
  <h1>Courses <%=current_user.email%> is learning</h1>
  <hr class="col-8 offset-2"/>
  <br />
  <%current_user.enrolled_courses.each do |course|%>
    <h3 class="text-center">
      <%=link_to course.title,course_path(course), {:style=>"color:violet"}%>
    </h3>
    <br />
    <%=image_tag course.image.to_s,class:'img-fluid'%>
    <br />
    <div class="row">
      <div class="cordes col-12 col-sm-8">
        <%=course.description%>
      </div>
      <div class="col-12 col-sm-4 text-center">
        <%=link_to "More info..",course_path(course),class:'btn btn-sm btn-outline-primary'%>
      </div>
    </div>
    <hr class="col-8 offset-2"/>
  <%end%>
  <h1>Knowledge I'm Teaching</h1>
  <hr class="col-8 offset-2"/>
  <br />
  <%current_user.courses.each do |course|%>
    <h3 class="text-center">
      <%=link_to course.title,course_path(course), {:style=>"color:violet"}%>
    </h3>
    <%=image_tag course.image.to_s,class:'img-fluid'%>
    <br class="clr" />
    <br />
    <div class="row">
      <div class="cordes col-12 col-sm-8">
        <%=course.description%>
      </div>
      <div class="col-12 col-sm-4 text-center">
        <%=link_to "More info..",course_path(course),class:'btn btn-sm btn-outline-primary'%>
      </div>
    <br class="clr"/>
    <br />
    </div>  
  <% end %>
</div>
