<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://vjs.zencdn.net/5.12.6/video-js.css" rel="stylesheet">
  </head>
  <body>
    <div id="flex-content-container">
      <nav class="navbar navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'Flixter', root_url, class: 'navbar-brand text-center' %>
        <div class="collapse navbar-toggleable-md" id="navbarTogglerDemo02">        
          <ul class="nav navbar-nav float-lg-left">
          <br />
            <li class="nav-item active">
              <%= link_to 'Home', root_url %>
            </li>
            <li class="nav-item">
              <%= link_to 'See courses', courses_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <ul class="nav navbar-nav float-lg-left">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'My Dashboard',dashboard_path, class:'nav-link'%>
              </li>
              <li class="nav-item"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class="nav-item"><%= link_to 'Sign in', new_user_session_path %></li>
              <li class="nav-item"><%= link_to 'Sign up', new_user_registration_path %></li>
            <% end %>
          </ul>
          <br />
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class= "alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <b>Teachers</b>
          <br />
          <%= link_to 'Teach a Course', new_instructor_course_path, {:style=>"color:pink"} %>
          <br />
          <%=link_to 'My Dashboard', dashboard_path, {:style=>"color:pink"}%>
        </div>
        <div class="col-sm-3">
          <b>About</b>
          <br />
          <%=link_to 'Team', team_path, {:style=>"color:pink"}%>
          <br />
          <%=link_to 'Careers', careers_path, {:style=>"color:pink"}%>
          <br />
          <%=link_to 'Privacy Policy', privacy_path, {:style=>"color:pink"}%>
        </div>
        <div class="col-sm-3 contact">
          <b>Contact</b>
          <br />
          School Administration
          <br />
          <%= link_to 'schoolAdmin@email.com', '#', {:style=>"color:pink"}%>
          <br />
          Address City, State
        </div>
        <div class="col-sm-3 social">
          <b>Social</b>
          <br />
          <br />
          <%=link_to 'http://github.com/MatttP/Flixter' do %>
            <span class="fa fa-github-square fa-2x social-button"></span>
          <%end%>
          <%=link_to 'https://facebook.com/login' do %>
            <span class="fa fa-facebook-square fa-2x social-button"></span>
          <%end%>
          <%=link_to 'https://twitter.com/login' do %>
            <span class="fa fa-twitter-square fa-2x social-button"></span>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <script src="http://vjs.zencdn.net/5.12.6/video.js"></script>
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  </body>
</html>
